<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="vue.js"></script>
</head>
<body>
<!--声明式渲染 开始-->
<div id="app" v-bind:title="title">
    {{ message }}
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            title: 'I love you!'
        }
    });
</script>
<!--声明式渲染 结束-->

<!--条件与循环 开始-->
<div id="app2">
    <p v-if="seen">Now you see me</p>
</div>
<div id="app3">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>
<script>
    var app2 = new Vue({
        el: '#app2',
        data: {
            seen: true
        }
    });

    var app3 = new Vue({
        el: '#app3',
        data: {
            todos: [
                {'text': '1111111111'},
                {'text': '22222222'},
                {'text': '3333333333'}
            ]
        }
    });
    app3.todos.push({'text': '444444444444'});
</script>
<!--条件与循环 结束-->

<!--处理用户输入 开始-->
<div class="app4">
    <p>{{ message }}</p>
    <button v-on:click="reverseFn">倒序</button>
</div>
<script>
    var app4 = new Vue({
        el: '.app4',
        data: {
            message: '12345'
        },
        methods: {
            reverseFn: function() {
                this.message = this.message.split('').reverse().join('');
            }
        }
    });
</script>

<div id="app5">
    <p>{{ message }}</p>
    <input type="text" v-model="message">
</div>
<script>
    var app5 = new Vue({
        el: '#app5',
        data: {
            message: 'hello world'
        }
    });
</script>
<!--处理用户输入 结束-->

<!--组件化 开始-->
<div id="app6">
    <ol>
        <todo-item v-for="item in lists" v-bind:todo="item"></todo-item>
    </ol>
</div>
<script>
    Vue.component('todo-item',{
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    });
    var app6 = new Vue({
        el: '#app6',
        data: {
            lists: [
                { 'text': '111111111' },
                { 'text': '222222222' },
                { 'text': '333333333' }
            ]
        }
    })

</script>
<!--组件化 结束-->
</body>
</html>